
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    padding:0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: none;
    background-color: var(--clr-green-lighter);
    border-radius: var(--fs-xs);
    color: var(--clr-white);
}

.bg-green{
    background-color: var(--clr-green-lighter);
}
.bg-blue{
    background-color: var(--clr-blue-darker);
}

.button svg{
    fill: var(--clr-white);
}